.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay[open] {
  display: flex;
}

.modal {
  padding: 30px;
  width: 80vw;
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}