.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: none;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay[open] {
  display: flex;
}

.modal {
  padding: 30px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeButton {
  justify-self: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  
}

.progressCircle {
  display: flex;
  align-items: center;
}