.ui-header {
    display: flex;
    align-items: center;
}

.mode-button {
    border-radius: 5px;
    background: none;
    text-decoration: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px;
    color: var(--header-text-color);
    border: solid 2px var(--header-text-color);
    &:hover {
        color: var(--header-background-color);
        background-color: var(--sub-background-color);
    }
    height: 32px;
}
