html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

#model-viewer{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    /* height: 100%; */
}

.overlay-form-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}