:root {
    --primary-background-color: #0D0D0D;
    --sub-background-color: #262626;
    --header-background-color: #ffffff;
    --header-text-color: #0D0D0D;;
    --primary-text-color: #BFBDBA;
    --primary-button-color: #595958;
    --hover-button-color: #8C8A88;
    --separator-color: #444;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    color: #BFBDBA;
}

button {
    border: none;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);
}
