
.button {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0%;
    right: 0%;

    background-color: var(--primary-button-color);
    padding: 10px;
    margin: 0 10px 10px 0;
    border-radius: 8px;
    z-index: 10;

    img {
        display: block;
        margin: auto;
    }
}

.close_button {
    background: none;
    margin-left: 5px;
    padding: 0;
    img {
        fill: #BFBDBA;
    }
}



.overlay_form_box {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 0%;
    right: 0%;
    // transform: translate(-100%, -100%);
    background-color: var(--sub-background-color);
    padding: 15px;
    margin: 0 10px 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.separator {
    border: none;
    border-top: 1px solid var(--separator-color);
    margin: 10px 0;
}