.ui-header {
    display: flex;
    align-items: center;
}

.mode-button {
    color: var(--primary-text-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    // margin: 10px;
    border: 2px solid transparent;
    background-color: var(--primary-button-color);
    &:hover {
        border: 2px solid var(--primary-background-color);
        box-shadow: 0 0 0 2px var(--primary-button-color);
    }
    &.active {
        border: 2px solid var(--primary-background-color);
        box-shadow: 0 0 0 3px var(--selected-button-color);
        background-color: var(--selected-button-color);
    }
    height: 32px;
}
