


.download-label {
    display: block;
    font-size: 20px;
    border-bottom: 1px solid var(--primary-text-color);
}

.download-button {
    border-radius: 10px;
    padding: 5px;
    background: none;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-left:4px;
    background-color: var(--primary-button-color);
    &:hover {
        background-color: var(--hover-button-color);
    }

    img {
        display: block;
        margin: auto;
    }
}

.download-button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.overlay-form-box {
    display: flex;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sub-background-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}